AZURE_EXISTING_AGENT_NAME=your_agent_name
AZURE_EXISTING_AGENT_VERSION=your_agent_version
AZURE_ENV_NAME=your_env_name
AZURE_LOCATION=your_azure_location
AZURE_SUBSCRIPTION_ID=your_subscription_id
AZURE_EXISTING_AIPROJECT_ENDPOINT=your_aiproject_endpoint
AZURE_EXISTING_AIPROJECT_RESOURCE_ID=your_aiproject_resource_id
AZURE_EXISTING_RESOURCE_ID=your_resource_id
AZD_ALLOW_NON_EMPTY_FOLDER=true
AZURE_AI_SERVICE_ENDPOINT=your_ai_service_endpoint
AZURE_PROJECT_NAME=your_project_name
AZURE_AI_RESOURCE_NAME=your_ai_resource_name
AZURE_AI_REGION=your_ai_region

